*{
    margin: 0;
}
body {
    background-color: rgb(140, 230, 231);
}

header {
    background-color: blue;
    text-align: center;
    color: aliceblue;
    justify-content: space-around;
}

.logo {
    width: 10%;
}

.imagem {
    text-align: center;
}

.rodape {
    text-align: center;
}